* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: white;
    background-color: #000000;
}

/* Navbar */
nav {
    margin: 0 auto;
}

.page-logo {
    height: 80px;
}

.menu-container {
    display: flex;
    gap: 15px;
}

nav li {
    list-style: none;
    cursor: pointer;
}

nav li:hover {
    color: #00FFFF;
}

.resume-btn {
    padding: 5px 10px;
    border: none;
    background-color: #0DCAF0;
    border-radius: 4px;
}

.head-banner h1 {
    color: #00FFFF;
}

.fa-brands {
    color: #00FFFF;
}

.resume-btn i {
    background-color: #0DCAF0;
}

.banner-right img {
    height: 300px;
    object-fit: cover;
}

.icon-emoji i {
    font-size: 1.5rem;
    margin-right: 40px;
    cursor: pointer;
}

.banner-btn i {
    margin: 0;
    ;
}

.portfolio p {
    font-size: small;
}

.portfolio h3 {
    color: #00FFFF;
}

.contact-box {
    width: 400px;
    min-height: 200px;
    background: #111;
    border-radius: 12px;
}

.education h2 {
    color: #00FFFF;
}
.footer-icon i{
    color: #00FFFF;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }

    .banner-left,
    .banner-right {
        text-align: center;
    }

    .banner-right img {
        height: auto;
        max-width: 80%;
    }
}

@media (max-width: 425px) {
    .contact-box {
        width: auto;
        min-height: 200px;
        background: #111;
        border-radius: 12px;
    }

    .menu-container {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
}